<style>

</style>

<body>
    <div class="content-wrapper" id="dashboard-views">
        <div class="view active" id="view-toc">
            <div class="headline-wrapper">
                <h1 style="font-size: 50px; transform: translateY(15px)">
                    Table of Contents
                </h1>
                <div class="publish-buttons hide-on-m wow fadeInUp" data-wow-delay=".4s"
                     style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <div class="button go-orange open-popup" data-target="lead" style="line-height: 46px; z-index: 99">
                        Unlock Premium Access
                    </div>
                    <div class="button go-orange open-popup" data-target="publish" style="line-height: 46px">
                        Publish or Preview
                    </div>
                    <div class="button go-orange resume-saved" style="line-height: 46px">
                        Resume
                    </div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="toc-chapters wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="col go-left">
                    <div class="chapter open-chapter" data-id="38" data-num="1" data-question="1">
                        <h4 class="smaller">
                            Standing on Their Shoulders: <br>How I Came to be Me </h4>
                        <div class="lil-progress-circle-wrapper">
                            <div class="inner-white">
                                <div class="lil-progress-circle" id="progress-circle-0" data-progress="0">
                                    <svg viewBox="0 0 100 100" style="display: block; width: 100%;">
                                        <path d="M 50,50 m 0,-43 a 43,43 0 1 1 0,86 a 43,43 0 1 1 0,-86"
                                              stroke="rgba(0,0,0,0)" stroke-width="14" fill-opacity="0"></path>
                                        <path d="M 50,50 m 0,-43 a 43,43 0 1 1 0,86 a 43,43 0 1 1 0,-86"
                                              stroke="#e95749"
                                              stroke-width="14" fill-opacity="0"
                                              style="stroke-dasharray: 270.215, 270.215; stroke-dashoffset: 270.215;"></path>
                                    </svg>
                                </div>
                                <div class="inner-green">
                                    1
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chapter open-chapter" data-id="45" data-num="2" data-question="1">
                        <h4 class="smaller">
                            Little Me: My Birth and Early Years </h4>
                        <div class="lil-progress-circle-wrapper">
                            <div class="inner-white">
                                <div class="lil-progress-circle" id="progress-circle-1" data-progress="0">
                                    <svg viewBox="0 0 100 100" style="display: block; width: 100%;">
                                        <path d="M 50,50 m 0,-43 a 43,43 0 1 1 0,86 a 43,43 0 1 1 0,-86"
                                              stroke="rgba(0,0,0,0)" stroke-width="14" fill-opacity="0"></path>
                                        <path d="M 50,50 m 0,-43 a 43,43 0 1 1 0,86 a 43,43 0 1 1 0,-86"
                                              stroke="#e95749"
                                              stroke-width="14" fill-opacity="0"
                                              style="stroke-dasharray: 270.215, 270.215; stroke-dashoffset: 270.215;"></path>
                                    </svg>
                                </div>
                                <div class="inner-green">
                                    2
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chapter faded">
                        <h4 class="smaller">
                            Growing Up: My School, Teen and Young Adult Years </h4>
                        <div class="lil-progress-circle-wrapper">
                            <div class="inner-white">
                                <div class="lil-progress-circle" id="progress-circle-2">
                                    <svg viewBox="0 0 100 100" style="display: block; width: 100%;">
                                        <path d="M 50,50 m 0,-43 a 43,43 0 1 1 0,86 a 43,43 0 1 1 0,-86"
                                              stroke="rgba(0,0,0,0)" stroke-width="14" fill-opacity="0"></path>
                                        <path d="M 50,50 m 0,-43 a 43,43 0 1 1 0,86 a 43,43 0 1 1 0,-86"
                                              stroke="#e95749"
                                              stroke-width="14" fill-opacity="0"
                                              style="stroke-dasharray: 270.215, 270.215; stroke-dashoffset: 270.215;"></path>
                                    </svg>
                                </div>
                                <div class="inner-green">
                                    3
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col go-right">
                    <div class="chapter faded">
                        <h4 class="smaller">
                            The Adult Me – Snapshots from My Grownup Life </h4>
                        <div class="lil-progress-circle-wrapper">
                            <div class="inner-white">
                                <div class="lil-progress-circle" id="progress-circle-3">
                                    <svg viewBox="0 0 100 100" style="display: block; width: 100%;">
                                        <path d="M 50,50 m 0,-43 a 43,43 0 1 1 0,86 a 43,43 0 1 1 0,-86"
                                              stroke="rgba(0,0,0,0)" stroke-width="14" fill-opacity="0"></path>
                                        <path d="M 50,50 m 0,-43 a 43,43 0 1 1 0,86 a 43,43 0 1 1 0,-86"
                                              stroke="#e95749"
                                              stroke-width="14" fill-opacity="0"
                                              style="stroke-dasharray: 270.215, 270.215; stroke-dashoffset: 270.215;"></path>
                                    </svg>
                                </div>
                                <div class="inner-green">
                                    4
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chapter faded">
                        <h4 class="smaller">
                            Losses, Gains and Second Chances: My Life Today </h4>
                        <div class="lil-progress-circle-wrapper">
                            <div class="inner-white">
                                <div class="lil-progress-circle" id="progress-circle-4">
                                    <svg viewBox="0 0 100 100" style="display: block; width: 100%;">
                                        <path d="M 50,50 m 0,-43 a 43,43 0 1 1 0,86 a 43,43 0 1 1 0,-86"
                                              stroke="rgba(0,0,0,0)" stroke-width="14" fill-opacity="0"></path>
                                        <path d="M 50,50 m 0,-43 a 43,43 0 1 1 0,86 a 43,43 0 1 1 0,-86"
                                              stroke="#e95749"
                                              stroke-width="14" fill-opacity="0"
                                              style="stroke-dasharray: 270.215, 270.215; stroke-dashoffset: 270.215;"></path>
                                    </svg>
                                </div>
                                <div class="inner-green">
                                    5
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chapter faded">
                        <h4 class="smaller">
                            My Answers to Life’s Big Questions </h4>
                        <div class="lil-progress-circle-wrapper">
                            <div class="inner-white">
                                <div class="lil-progress-circle" id="progress-circle-5">
                                    <svg viewBox="0 0 100 100" style="display: block; width: 100%;">
                                        <path d="M 50,50 m 0,-43 a 43,43 0 1 1 0,86 a 43,43 0 1 1 0,-86"
                                              stroke="rgba(0,0,0,0)" stroke-width="14" fill-opacity="0"></path>
                                        <path d="M 50,50 m 0,-43 a 43,43 0 1 1 0,86 a 43,43 0 1 1 0,-86"
                                              stroke="#e95749"
                                              stroke-width="14" fill-opacity="0"
                                              style="stroke-dasharray: 270.215, 270.215; stroke-dashoffset: 270.215;"></path>
                                    </svg>
                                </div>
                                <div class="inner-green">
                                    6
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="view down" id="view-album">

            <div class="headline-wrapper">
                <h1 style="font-size: 50px; transform: translateY(15px)">
                    Photo Album
                </h1>
                <div class="publish-buttons wow fadeInUp animated" data-wow-delay=".4s"
                     style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <div class="line" style="right: 0; width: calc( 100vw - 680px )"></div>
                </div>
            </div>
            <p style="margin-top: -10px; max-width: 920px">
                Please add your Chapters Photos at the end of each chapter. If you would like to add additional photos,
                you
                can submit them in the Photo Gallery below. These will appear in the center of your book.
            </p>
            <div class="divider"></div>
            <h5>
                <strong>
                    Chapters photos
                </strong>
            </h5>
            <p class="m-t-10">
                You haven't uploaded any photos yet.
            </p>
            <div class="divider "></div>
            <h5>
                <strong>
                    Photo Gallery
                </strong>
            </h5>
            <div class="general-photos-wrapper">
                <div class="dashboard-images-grid" id="dashboard-general-images-grid">
                </div>
                <div class="clear"></div>
                <form class="upload-form" id="upload-general-images-form" enctype="multipart/form-data">
                    <div class="part">
                        <div class="trigger-upload trigger-upload-one">
                            <i class="fa fa-file-image-o" aria-hidden="true"></i>
                            Choose file
                        </div>
                        <div class="file-name"></div>
                        <input type="file" class="input-upload" id="general-upload-image" name="general-upload-image"
                               accept=".jpg,.jpeg,.png">
                        <input type="text" class="input-caption" id="general-upload-caption"
                               name="general-upload-caption"
                               placeholder="Add a caption">
                    </div>
                    <button class="disabled" disabled="">
                        Submit
                    </button>
                    <div class="clear"></div>
                </form>
            </div>
        </div>
        <div class="view down" id="view-faq">
            <div class="headline-wrapper">
                <div class="headline-wrapper">
                    <h1 style="font-size: 50px; transform: translateY(15px)">
                        FAQs
                    </h1>
                    <div class="publish-buttons wow fadeInUp animated" data-wow-delay=".4s"
                         style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="line" style="right: 0; width: calc( 100vw - 540px )"></div>
                    </div>
                </div>
            </div>
            <div class="faq-wrapper">
                <div class="faq-item">
                    <h5 class="question">
                        <i class="fa fa-plus-circle"></i>
                        How do I start? </h5>
                    <p class="answer">
                        Press the red Enter button or the Sign Up button in the upper right-hand corner of the site.
                        Once
                        your account is created, it will be easy to log in each time you come to the site. </p>
                </div>
                <div class="faq-item">
                    <h5 class="question">
                        <i class="fa fa-plus-circle"></i>
                        How do I save my answers? </h5>
                    <p class="answer">
                        Your answers are automatically saved every time you click the button for Next or Previous
                        Question
                        or press the X on the top right corner of your screen. Please be sure not to leave the site
                        without
                        taking one of those actions to make sure that your work is saved. </p>
                </div>
                <div class="faq-item">
                    <h5 class="question">
                        <i class="fa fa-plus-circle"></i>
                        Are my answers kept private? </h5>
                    <p class="answer">
                        Yes, your answers are totally confidential. It is up to you to decide if anyone can see your
                        answers
                        and, if so, whom. Our site is secured to the highest standards with SSL and HTTPS. </p>
                </div>
                <div class="faq-item">
                    <h5 class="question">
                        <i class="fa fa-plus-circle"></i>
                        Do I have to answer every question? </h5>
                    <p class="answer">
                        No, you can skip any question. Just press Next on the screen to move to the next question.
                        Remember,
                        you can always return at any time to a question you have skipped. </p>
                </div>
                <div class="faq-item">
                    <h5 class="question">
                        <i class="fa fa-plus-circle"></i>
                        Can I change or edit a question once I’ve moved onto the next question? </h5>
                    <p class="answer">
                        Yes, you can go back to any question at any time and add something or make any changes you
                        like. </p>
                </div>
                <div class="faq-item">
                    <h5 class="question">
                        <i class="fa fa-plus-circle"></i>
                        Can I add photos to my LifeStory Challenge? </h5>
                    <p class="answer">
                        Yes. At the end of each chapter there will be a photo page. Here you will be given the
                        opportunity
                        to upload two pictures. You can always go back and change those images. You can also click on
                        the
                        button on the right, My Photo Album, to see all the pictures you have uploaded so far. You can
                        also
                        add extra pictures with captions in the Photo Gallery, which is at the bottom of the photo
                        album.
                        All these pictures will be included in your LifeStory Challenge book. </p>
                </div>
                <div class="faq-item">
                    <h5 class="question">
                        <i class="fa fa-plus-circle"></i>
                        Can I send one of my answers to a friend or family member? </h5>
                    <p class="answer">
                        Yes. You simply click on Share My Story button on the left side of the Table of Contents page.
                        You
                        will be provided with a link that you can easily share via email with your loved ones. </p>
                </div>
                <div class="faq-item">
                    <h5 class="question">
                        <i class="fa fa-plus-circle"></i>
                        How do I continue working on my LifeStory Challenge when I come back to the site? </h5>
                    <p class="answer">
                        After you log back in, the system will ask you if want to continue working where you left off
                        the
                        last time. If you do want to continue there, just click Yes. If you want to start on a new
                        chapter
                        or a new question, just click No and the system will take you back to the Table of Contents
                        where
                        you can choose what to work on next. </p>
                </div>
                <div class="faq-item">
                    <h5 class="question">
                        <i class="fa fa-plus-circle"></i>
                        When I finish my LifeStory Challenge, what do I do? </h5>
                    <p class="answer">
                        When you are done answering all the questions, you simply click on the Preview or Publish My
                        LifeStory button on the Table of Contents page. You will have three options: (1) You can
                        download a
                        PDF of your manuscript. This will include all your answers with pre-written headings in place of
                        the
                        questions. Please note that you cannot download a PDF onto your mobile device. (2) You can
                        navigate
                        to your own personal website where you will have a beautiful digital version of your LifeStory.
                        This
                        site is accessible only to you and whomever you invite to see it. Your loved ones can leave you
                        feedback there on your stories. (3) You can order a beautiful, customized book of your
                        LifeStory.
                        Just contact us directly at info@lifejourneysmedia.com </p>
                </div>
                <div class="faq-item">
                    <h5 class="question">
                        <i class="fa fa-plus-circle"></i>
                        Is there a time limit on finishing my LifeStory Challenge? </h5>
                    <p class="answer">
                        There is no time limit but we encourage you to answer three to six questions (a half-chapter to
                        a
                        whole chapter) each week to keep your momentum high. At that pace, the process should take
                        between 6
                        and 12 weeks. </p>
                </div>
                <div class="faq-item">
                    <h5 class="question">
                        <i class="fa fa-plus-circle"></i>
                        I think I lost my work. What do I do? </h5>
                    <p class="answer">
                        Your answers are automatically saved every time you click the button for Next or Previous
                        Question
                        or press the X on the top right corner of your screen. If there was a power outage and you were
                        not
                        able to take any action, it is possible some of your work was lost. Feel free to call us at
                        617-429-6372 and talk with our staff or email us at info@lifejourneysmedia.com. We will get back
                        to
                        you as quickly as we can. </p>
                </div>
                <div class="faq-item">
                    <h5 class="question">
                        <i class="fa fa-plus-circle"></i>
                        I can't remember my password. What should I do? </h5>
                    <p class="answer">
                        We can help! Feel free to call us at 617-429-6372 and talk with our staff or email us at
                        info@lifejourneysmedia.com. We will get back to you as quickly as we can. </p>
                </div>
                <div class="faq-item">
                    <h5 class="question">
                        <i class="fa fa-plus-circle"></i>
                        What if I’ve finished the LifeStory Challenge and want to continue writing my Life Story? </h5>
                    <p class="answer">
                        That’s great! Stay tuned for the additional LifeStory products coming out shortly. To hear about
                        our
                        new products, send us an email at info@lifejourneysmedia.com so we can add you to our
                        Announcement
                        email list. </p>
                </div>
            </div>
        </div>
    </div>
</body>

