<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../static/style.css"/>
    </head>

    <body>
        <header>
            <h1>Project_Day1</h1>
            <p>Welcome :)</p>
            <p>Live today</p>
        </header>

        <ul class="grid">
            <li>
                <a href="/fourth" , target="_self">
                    <img src="https://www.artistsandillustrators.co.uk/uploads/tinymce/images/how-to-paint-impasto-landscape.jpg"
                         alt="">
                    <span class="description"><strong>diary </strong> <p></p></span>
                </a>
            </li>
            <li>
                <a href="#" , target="_self">
                    <!--                    <img src="https://img.resized.co/lovindublin_com/eyJkYXRhIjoie1widXJsXCI6XCJodHRwczpcXFwvXFxcL2ltYWdlcy5sb3ZpbmR1Ymxpbi5jb21cXFwvdXBsb2Fkc1xcXC9pbWFnZXNcXFwvdXBsb2Fkc1xcXC8yMDE4XFxcLzA1XFxcL19ibG9nV2lkZVxcXC9FdmEtS2VsbHktMy5qcGc_bXRpbWU9MjAxODA1MjkxNzA3NTNcIixcIndpZHRoXCI6XCJcIixcImhlaWdodFwiOlwiXCIsXCJkZWZhdWx0XCI6XCJodHRwczpcXFwvXFxcL2QyNmhlMDM4YTcwZGdzLmNsb3VkZnJvbnQubmV0XFxcL3dwLWNvbnRlbnRcXFwvdGhlbWVzXFxcL2xvdmluXFxcL2Fzc2V0c1xcXC9pbWdcXFwvY2FyZC1kZWZhdWx0LWxvdmluLWR1Ymxpbi5wbmdcIixcIm9wdGlvbnNcIjpbXX0iLCJoYXNoIjoiZWYxODg2YjNhNTg2NTY3NDg0ZGQ0N2Y5OGI4MDdmMTc2ZmQwMWRhZiJ9/pics-new-illustrations-follow-journey-of-james-joyce-character-through-dublin.jpg?mtime=20180529170753"-->
                    <!--                         alt="">-->
                    <!--                    <span class="description">Chapter 2</span>-->
                </a>

            </li>
            <li>
                <a href="/first" , target="_self">
                    <img src="https://img.resized.co/lovindublin_com/eyJkYXRhIjoie1widXJsXCI6XCJodHRwczpcXFwvXFxcL2ltYWdlcy5sb3ZpbmR1Ymxpbi5jb21cXFwvdXBsb2Fkc1xcXC9pbWFnZXNcXFwvdXBsb2Fkc1xcXC8yMDE4XFxcLzA1XFxcL19ibG9nV2lkZVxcXC9FdmEtS2VsbHktMy5qcGc_bXRpbWU9MjAxODA1MjkxNzA3NTNcIixcIndpZHRoXCI6XCJcIixcImhlaWdodFwiOlwiXCIsXCJkZWZhdWx0XCI6XCJodHRwczpcXFwvXFxcL2QyNmhlMDM4YTcwZGdzLmNsb3VkZnJvbnQubmV0XFxcL3dwLWNvbnRlbnRcXFwvdGhlbWVzXFxcL2xvdmluXFxcL2Fzc2V0c1xcXC9pbWdcXFwvY2FyZC1kZWZhdWx0LWxvdmluLWR1Ymxpbi5wbmdcIixcIm9wdGlvbnNcIjpbXX0iLCJoYXNoIjoiZWYxODg2YjNhNTg2NTY3NDg0ZGQ0N2Y5OGI4MDdmMTc2ZmQwMWRhZiJ9/pics-new-illustrations-follow-journey-of-james-joyce-character-through-dublin.jpg?mtime=20180529170753"
                         -->
                    <span class="description">앨범</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <!--                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/fvazbu6zae-andrew-neel-776x517.jpg"-->
                    <!--                         alt="">-->
<!--                    <span class="description"></span>-->
                </a>
            </li>
            <li>
                <a href="/second" , target="_self">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/71nlan-2ya-andrew-neel-2-776x620.jpg"
                         alt="">
                    <span class="description">버킷 리스트</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="description"></span>
                </a>
            </li>

            <li>
                <a href="#" , target="_self">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/fvazbu6zae-andrew-neel-776x517.jpg"
                    alt="">
                    <span class="description"></span>
                </a>
            </li>

            <li>
                <a href="#">

                    <span class="description"></span>
                </a>
            </li>

        </ul>
    </body>

</html>