<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../static/todo.css"/>

    </head>

    <body>
        <h2>Bucket List</h2>

        <section id="to-do-app">

            <input id="new-todo" placeholder="What needs to be done?"/>

            <div class="todos">

                <ul id="todos">
                    <li>
                        <input id="checkbox-1" type="checkbox">
                        <label for="checkbox-1">스카이다이빙 해보기<span class="box"></span></label>
                    </li>
                    <li>
                        <input id="checkbox-2" type="checkbox">
                        <label for="checkbox-2">걸어서 산티에고 가보기<span class="box"></span></label>
                    </li>
                    <li>
                        <input id="checkbox-3" type="checkbox">
                        <label for="checkbox-3">도자기 만들기<span class="box"></span></label>
                    </li>
                    <li>
                        <input id="checkbox-4" type="checkbox">
                        <label for="checkbox-4">자서전 써보기<span class="box"></span></label>
                    </li>
                    <li>
                        <input id="checkbox-5" type="checkbox">
                        <label for="checkbox-5">가족여행가기<span class="box"></span></label>
                    </li>
                    <li>
                        <input id="checkbox-6" type="checkbox">
                        <label for="checkbox-6">Try a new recipe<span class="box"></span></label>
                    </li>
                </ul>
            </div>
        </section>
         <script type="text/javascript">

            $("#new-todo").keypress(function (event) {
                var keycode = event.keyCode ? event.keyCode : event.which;
                if (keycode == "13") {
                    console.log("pressed");

                    if ($(this).val().length !== 0) {
                        var toDoCount = $("span.box").length + 1;

                        $("#todos").prepend(
                            '<li><input id="checkbox-' +
                            toDoCount +
                            '" type="checkbox"><label for="checkbox-' +
                            toDoCount +
                            '">' +
                            $(this).val() +
                            '<span class="box"></span></label></li>'
                        );
                        $(this).val("");
                    }
                }
            });

        </script>
    </body>
</html>